.slider{
    max-width: 1100px;
    position: relative;
    margin: auto;
    height: 340px;
}

.slider .item img {
    object-fit: cover;
    width: 1100px;
    height: 340px;
}

.slider .previous, .slider .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 50px;
}
.slider .next {
    right: 0;
    border-radius: 50px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
